Pillow
opencv-python
tensorboard
diffusers
scipy
timm
matplotlib
tyro
loralib
wandb
mediapy
kinpy
imgviz
pathos
tokenizers
easydict
pandas
scikit-learn
addict
yapf
pycocotools
supervision
transformers==4.51.3
omegaconf
torchmetrics
numpy==1.23.5
einops
PyOpenGL==3.1.5
mink==0.0.5
psutil
mambapy==1.2.0
albumentations
numpydantic==1.6.7
pydantic==2.10.6
peft==0.17.1
huggingface-hub==0.34.4
safetensors>=0.4.3
llvmlite==0.40.*
numba==0.57.1
mujoco==3.2.6
pygame
pyyaml
pynput
tqdm
termcolor
imageio
h5py
lxml
hidapi
tianshou==0.4.10
pytest
wandb[media]
